@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PPLog.SoldDataEntry.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new QStock.PPLog.SoldDataEntryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>