<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="EmailAddress" value="fixed-term.Jiawen.CHEN@boschrexroth.com.cn" />
		<add key="DBConStr" value="Data Source=(LocalDb)\MSSqlLocalDB; Initial Catalog=StartSharp1_Default_v1;Integrated Security=SSPI;"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="Wuj-WujP-ICO.SystemUser@bcn.bosch.com">
				<network host="rb-smtp-auth.rbesz01.com" port="25" userName="APAC\SYW1CHA" password="K14UKRP5HWH_D8u" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>