{
    "RootNamespace": "QStock",
    "Connections": [
        {
            "Key": "DB2",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=StartSharp1_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.OOH",
                    "Identifier": "Ooh",
                    "Module": "DB2",
                    "ConnectionKey": "DB2",
                    "PermissionKey": "OOH:General"
                },
                {
                    "Tablename": "dbo.EmailLog",
                    "Identifier": "EmailLog",
                    "Module": "DB2",
                    "ConnectionKey": "DB2",
                    "PermissionKey": "OOH:General"
                },
                {
                    "Tablename": "dbo.MeetingAgendaRelevant",
                    "Identifier": "MeetingAgendaRelevant",
                    "Module": "DB2",
                    "ConnectionKey": "DB2",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=QStock_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "QStock",
            "ConnectionString": "Data Source=sghvm00065,1433;Initial Catalog=QStock_LOG;User Id=APP_PPLOG;Password=dsIknoQZyGvCoh5n;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.OOH",
                    "Identifier": "Ooh",
                    "Module": "QStock",
                    "ConnectionKey": "QStock",
                    "PermissionKey": "OOH:General"
                }
            ]
        },
        {
            "Key": "QStockExcel",
            "ConnectionString": "Data Source=sghvm00065,1433;Initial Catalog=QStock_LOG;User Id=APP_PPLOG;Password=dsIknoQZyGvCoh5n;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.OOH",
                    "Identifier": "Ooh",
                    "Module": "QStockExcel",
                    "ConnectionKey": "QStockExcel",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\QStock\\QStock.Web\\QStock.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}