@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DB2.EmailLog.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new QStock.DB2.EmailLogGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>